* {
  margin: 0;
  padding-left: 200px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;

}

.header {
  display: flex;
  font-size: 5rem;
}

.main {
  display: flex;
}

.footer {
  display: flex;
}

.navbar {
  display: flex;
}

.navbar ul li a{
  color: black;
  text-decoration: none;
}

p {
  padding: 10px;
  font-size: 1rem;
}

h1 {
  padding: 10px;
  font-size: 3rem;
}